* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

body {
    
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: darkgray;
}



#home{
    display: inline;
}

#video1 {
    z-index: -2;
}

#work {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: darkgray;
}


img {
    position: relative;
    
    width: 280px;
    top: 40px;
    left: 60px;
}

.thumbnail {
    border-radius: 50%;
}

.project_type {
    position: relative;
    top: 10%;
    left: 30%;
}

.poject-title {
    position: relative;
    top: 25%;
    left: 30%;
}


.section_title {
    position: relative;
    top: 50px;
    left: 50%;
}

.carousel_container {
    display: flex;
    position: relative;
    justify-content: center;
}


.carousel {
    position: relative;
    right: 0px;
    top: 0px;
    margin: 130px;
}

.carousel-2 {
    position: relative;
    right: 0px;
    top: 0px;
    margin: 130px;
}

.carousel-3 {
    position: relative;
    right: 0px;
    top: 0px;
    margin: 130px;
}

.carousel_track-container {
    overflow: hidden;
    color: aliceblue;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20%;
    border: 2px solid;
}

.carousel_track {
    position: relative;
    width: 400px;
    height: 400px;
    margin-bottom: 40px;
    transition: transform 300ms ease-in;
}

.carousel_slide {
    position: absolute;
    top: 40%;
    right: 80px;
    transform: translateY(-50%);
    bottom: 0;
    width: 100%;

}

.carousel_button {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.prev {
    left: -90px;
}

.next {
    right: -90px;
    z-index: 1;
}

.carousel_nav {
    width: 200px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    top: 30px;
    left: 100px;
    
}

.carousel_indicator {
    justify-content: space-between;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    background: rgba(255, 255, 255, 0.5);
    justify-content: space-evenly;
    cursor: pointer;
}

.carousel_indicator.current_slide {
    background: rgba(0, 0, 0, .75);
}

.is-hidden{
    display: none;
}




img {
    position: relative;
    
    width: 280px;
    top: 40px;
    left: 60px;
}



/* CAROUSEL  2 ////////////////////////////////////////////////////////////////////////////*/



.carousel_track-container-2 {
    overflow: hidden;
    color: aliceblue;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20%;
    border: 2px solid;
}

.carousel_track-2 {
    position: relative;
    width: 400px;
    height: 400px;
    margin-bottom: 40px;
    transition: transform 300ms ease-in;
}

.carousel_slide-2 {
    position: absolute;
    top: 40%;
    right: 80px;
    transform: translateY(-50%);
    bottom: 0;
    width: 100%;
    z-index: 0;

}

.carousel_button-2 {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.prev-2 {
    left: -90px;
}

.next-2 {
    right: -90px;
    z-index: 1;
}

.carousel_nav-2 {
    width: 200px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    top: 30px;
    left: 100px;
    
}

.carousel_indicator-2 {
    justify-content: space-between;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    background: rgba(255, 255, 255, 0.5);
    justify-content: space-evenly;
    cursor: pointer;
}

.carousel_indicator-2.current_slide-2 {
    background: rgba(0, 0, 0, .75);
}

.is-hidden-2{
    display: none;
}



/* CAROUSEL  3 ////////////////////////////////////////////////////////////////////////*/




.carousel_track-container-3 {
    overflow: hidden;
    color: aliceblue;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20%;
    border: 2px solid;
}

.carousel_track-3 {
    position: relative;
    width: 400px;
    height: 400px;
    margin-bottom: 40px;
    transition: transform 300ms ease-in;
}

.carousel_slide-3 {
    position: absolute;
    top: 40%;
    right: 80px;
    transform: translateY(-50%);
    bottom: 0;
    width: 100%;

}

.carousel_button-3 {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.prev-3 {
    left: -90px;
    z-index: 1;
}

.next-3 {
    right: -90px;
    z-index: 1;
}

.carousel_nav-3 {
    width: 200px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    top: 30px;
    left: 100px;
    
}

.carousel_indicator-3 {
    justify-content: space-between;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    background: rgba(255, 255, 255, 0.5);
    justify-content: space-evenly;
    cursor: pointer;
}

.carousel_indicator-3.current_slide-3 {
    background: rgba(0, 0, 0, .75);
}

.is-hidden-3{
    display: none;
}



.light_switch {
    height: 500px;
    width: 300px;
    display: flex;
    position: absolute;
    top: 0;
    transform: translate(450px, 330px);
    background: transparent;
    border: none;
    font-size:0;
    z-index: 5;
}

.full-images {
    position: fixed;
    top: 0;
    right: 85%;
    scale: 4.5;
    z-index: 2;
}
#hide-button {
    position: fixed;
    display: none;
    background: none;
    width: 100%;
    height: 100%;

    z-index: 3;
}

#img-full-1 {
    position: absolute;
    visibility: hidden;
    top: 60px;
    left: 60px;
    z-index: 1;
}

#img-full-2 {
    position: absolute;
    visibility: hidden;
    top: 60px;
    left: 60px;
    z-index: 1;
}

#img-full-3 {
    position: absolute;
    visibility: hidden;
    top: 60px;
    left: 60px;
    z-index: 1;
}

#img-full-4 {
    position: absolute;
    visibility: hidden;
    top: 60px;
    left: 60px;
    z-index: 1;
}

#img-full-5 {
    position: absolute;
    visibility: hidden;
    top: 60px;
    left: 60px;
    z-index: 1;
}

#img-full-6 {
    position: absolute;
    visibility: hidden;
    top: 60px;
    left: 60px;
    z-index: 1;
}

#img-full-7 {
    position: absolute;
    visibility: hidden;
    top: 60px;
    left: 60px;
    z-index: 1;
}

#img-full-8 {
    position: absolute;
    visibility: hidden;
    top: 60px;
    left: 60px;
    z-index: 1;
}

#img-button-1 {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 2;
    right: 45px;
    top: 30px;
    width: 300px;
    height: 300px;
}

#img-button-2 {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 2;
    right: 45px;
    top: 30px;
    width: 300px;
    height: 300px;
}

#img-button-3 {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 2;
    right: 45px;
    top: 30px;
    width: 300px;
    height: 300px;
}

#img-button-4 {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 2;
    right: 45px;
    top: 30px;
    width: 300px;
    height: 300px;
}

#img-button-5 {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 2;
    right: 45px;
    top: 30px;
    width: 300px;
    height: 300px;
}

#img-button-6 {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 2;
    right: 45px;
    top: 30px;
    width: 300px;
    height: 300px;
}

#img-button-7 {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 2;
    right: 45px;
    top: 30px;
    width: 300px;
    height: 300px;
}

#img-button-8 {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 2;
    right: 45px;
    top: 30px;
    width: 300px;
    height: 300px;
}
